/*ГЛАВНАЯ НАВИГАЦИЯ */

/* поиск и корзина*/
.main-nav__search,
.main-nav__cart {
  .general-font-family-bold();
  font-size: 17px;
  line-height: 1.41;
  color: black;
}

.main-nav__promotions-menu-wrapper {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    min-height: 88px;
  }

  .main-nav__toggle {
    display: none;
  }
}
