/* -- main страницы с формой -- */
.form-main {
  margin-bottom: 35px;
}

.form-main__page-title {
  .general-font-family-bold();
  font-size: 27px;
  line-height: 1.11;
  color: black;

  padding: 10px 0;
  margin: 0;
  margin-bottom: 25px;

  background-color: #f1f1f1;
}

.form-main__welсome-message {
  .general-font-family();
  font-size: 13px;
  line-height: 1.85;
  color: #444444;

  margin-bottom: 25px;
}
