/* -- ОБЩИЕ -- */
*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  .general-font();

  width: 320px;
  margin: 0 auto;

  background-color: white;
}

.container {
  width: 280px;
  padding: 0 10px;
  margin: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: 772px) {
  body {
    width: auto;
    min-width: 772px;

    background-color: white;
  }

  .container {
    width: 772px;
    padding: 0 52px;
    margin: auto;
  }
}
