/* -- ОБЩИЕ -- */
*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  .general-font();

  margin: 0 auto;

  background-color: white;
}

.container {
  width: 260px;
  margin: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}

@media (min-width: @tablet-width) {
  body {
    width: auto;
    min-width: @tablet-width;

    background-color: white;
  }

  .container {
    width: @tablet-width;
    padding: 0 52px;
    margin: auto;
  }

  .nowrap {
    white-space: normal;
  }
}

@media (min-width: @desktop-width) {
  body {
    width: auto;
    min-width: @desktop-width;

    background-color: white;
  }

  .container {
    width: @desktop-width;
    padding: 0 50px;
    margin: auto;
  }
}
